<header style="background-color: #3778c2;">
    <nav class="navbar navbar-expand-lg navbar-dark p-0">
      <div class="container-fluid">
        <%= link_to :back, class: "text-white" do %> 
          <i class="bi bi-arrow-left-short", style="font-size: 44px"></i>
        <% end %>
        <p class="navbar-brand m-0">NEW ENTITIES</p>
        <button class="navbar-toggler invisible" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item"><%= link_to 'Register', new_user_registration_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<%= form_with model: @entity, url: user_group_entities_path(@user.id, @group.id), method: :post do |form| %>
  <div class="mt-4 border-top border-bottom h-auto d-flex flex-column" >
    <div class="">
      <%= form.label :name, class: "d-none" %>
      <%= form.text_field :name, class: "p-2 ps-3 w-100 border-0", style: "color: #989da3" , placeholder: "Name", :required => true %>
    </div>
    <hr class="m-0 p-0 align-self-center" style="height:1px;width:90%;border-width:0;color:#989da3;background-color:#989da3">
    <div class="">
      <%= form.label :amount, class: "d-none" %>
      <%= form.number_field :amount, class: "p-2 ps-3 w-100 border-0", style: "color: #989da3" , placeholder: "Amount", step: 0.01 %>
    </div>
  </div>
  <div>
    <%= form.submit "Add entity", class: "m-3 btn btn-outline-secondary" %>
  </div>
<% end %>