<header style="background-color: #3778c2;">
  <div class="d-flex justify-content-between align-items-center p-2 pt-0 pb-0">
    <div>
      <%= link_to "/", class: "text-white" do %> 
        <i class="bi bi-arrow-left-short", style="font-size: 44px"></i>
      <% end %>
    </div>
    <div>
      <p class="mb-0 text-white">LOGIN</p>
    </div>
    <div>
      <label for="submit-form" tabindex="0" class="text-white" >Log in</label>
    </div>
  </div>
</header>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mt-4 border-top border-bottom h-auto d-flex flex-column" >
    <div class="">
      <%= f.label :email, class: "d-none" %>
      <%= f.email_field :email, class: "p-2 ps-3 w-100 border-0", style: "color: #989da3" , placeholder: "Email", autofocus: true, autocomplete: "email" %>
    </div>
    <hr class="m-0 p-0 align-self-center" style="height:1px;width:90%;border-width:0;color:#989da3;background-color:#989da3">
    <div class="">
      <%= f.label :password, class: "d-none" %>
      <%= f.password_field :password, class: "p-2 ps-3 w-100 border-0", style: "color: #989da3", placeholder: "Password", autocomplete: "current-password" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="m-1 ms-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, style: "color: #989da3" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", id: "submit-form", class: "d-none" %>
  </div>
<% end %>
<div class="mt-2 d-flex flex-column text-center">
  <%= render "devise/shared/links" %>
</div>
